* {
  box-sizing: border-box;
}

body {
  font-family: roboto, sans-serif;
  color: #000000;
}

h1{
  font-size: 3.2vmin;
}

h2 {
  font-size: 2.8vmin;
}

p {
  font-size: 2.5vmin;
}

.page {
  display: grid;
  grid-template-rows: 15vw 85vw;
  width: 90vw;
  max-width: 1000px;
  height: auto;
  margin: auto;
}

.header {
  margin: auto;
  text-align: center;
}

.middle {
  padding: 2vmin;
}
