* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

h1{
  font-size: 3.2vh;
}

p {
  font-size: 2.2vh;
}

#modal-container {                              /*Modal Container*/
  display: none;  /*by default not showed. Visible by adding class "is-visible" via JS*/
}

#modal-container.is-visible {
  display: grid;       /*essential to overwrite "display:none"!!*/
  position: fixed;     /*essential for the overlap*/
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;         /*since page has a z-index of -1, 1 it´s more than enough (which is 0)*/
}

.modal {              /*showed with modal-container.is-visible via appendChild*/
  margin: auto;
  padding: 5%;
  width: 80%;
  max-width: 700px;
  background-color: #fff;
}

.close-button {       /*closing button for the modal container*/
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #000;
  text-decoration: underline;
}

.page {
  display: grid;
  grid-template-rows: 85vh 10vh;
  width: 95vw;
  height: 95vh;
  max-width: 1000px;
  margin: 2.5vh auto;
  z-index: -1;
}

.pokedex {
  display: grid;
  grid-template-rows: 8% 92%;
}

header {                                          /* Header */
  padding-left: 2vmin;
  background-color: #d3d3d3;
}

.menue {
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
}

.details-menue-wrapper {
  height: 100%;
  background-color: #bfbfbf;
  padding: 2vmin 2vmin 2vmin 2vmin;
}

#details-menue {
  height: 100%;
  background-color: #1a1a1a;
  border-radius: 10px;
  display: flex;
}

.details-wrapper {
  margin: auto;
}

.name-p{
  font-size: 2.7vh;
  text-align: center;
  color: #ffffff;
}

.details-p {
  color: #ffffff;
  font-size: 2.2vh;
}

.details-image {
  display: block;
  height: 100%;
  width: auto;
  margin: auto;
}

.list-menue-wrapper {
  height: 100%;
  background-color: #bfbfbf;
  padding: 2vmin 2vmin 2vmin 2vmin;
}

.list-menue {
  height: 100%;
  overflow: auto;
}

.pokemon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff;
  padding: 0.1vmin 0 0.1vmin 2vmin;
  margin: 0vmin 0vmin 0.5vmin 0vmin;
}

.details-button {
  text-decoration: none;
  border: none;
  font-style: inherit;
  font-size: 2.2vh;
  background-color: #e6e6e6;
  margin: 1.2vmin 2vmin 1.2vmin auto;
}

footer {                                          /* Footer */
  display: grid;
  grid-template-rows: 50% 50%;
  text-align: center;
}

.footer-text {
  margin: auto;
}

.footer-img-container {
  display: flex;
}

.footer-img {
  margin: auto;
}

#facebook-logo,
#github-logo,
#codepen-logo {
  height: 3.5vh;
  width: auto;
}


@media only screen and (min-width: 750px) {         /* Media queries */
  .menue {
    height: 100%;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
  }

  .image-menue-wrapper {
    padding: 2vmin 1vmin 2vmin 2vmin;
  }

  .list-menue-wrapper {
    padding: 2vmin 2vmin 2vmin 1vmin;
  }

  #details-menue {
    border-radius: 25px;
  }
}
